<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>



    <style>
.jumbotron {
background:black;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top:24px;
padding-bottom: 24px;
padding-right:  90px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}
    </style>
</head>

<body style="background-color:black">
<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-2  col-sm-10 col-lg-10">
                <h1 class="h1">
                    Contact us </h1>
            </div>
        </div>
    </div>
</div>


<form method="post" action="{% url 'base:contact' %}">
    {% csrf_token %}
<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-md-8">
            <div class="well well-sm">
                <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Name</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input type="text" class="form-control" name="name" placeholder="Your Name" required="required" /></div>
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" name="email" placeholder="Enter email" required="required" /></div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                Subject</label>
                            <select id="subject" name="Subject" class="form-control" required="required">
                                <option value="na" selected="">Choose One:</option>
                                <option value="1">Suggestions</option>
                                <option value="2" >Query</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Message:-</label>
                            <textarea name="message" name="message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                            Send Message</button>
                    </div>
                </div>
                </form>
            </div>
        </div>

    </div>
</div>
</form>
</body>