{% extends 'base1.html' %}
{% block bodys %}
<head>
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}

    <title>Simple light detector circuit
</title>

</head>

<div style="background-color: #CCCCCC">
    <div class="container">

                <div class="row">
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h2>Simple light detector circuit
|<small> 100% Tested</small></h2><br>

                </div>
                    <br>
{% block body_9 %}
{% endblock %}


            </div>
                    <br>

                             <div class=" col-lg-offset-2 col-lg-8">
                        <img class="img-responsive" width="100%" src="/static/images/light_detector.png" alt="">
                         </div>




    <br>
       <br>
    <div class="row">
    <div class="container col-lg-offset-2 col-lg-8 align:center">
  <h2>Componenet Required:-</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Sr No.</th>
        <th>Componenet</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1.</td>
        <td>DC SOURCE(12V OR 9V)</td>
        <td>1</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>LDR</td>
        <td>1</td>
      </tr>
        <tr>
        <td>3.</td>
        <td>BC547</td>
        <td>1</td>
      </tr>


        <tr>
        <td>4.</td>
        <td>BUZZER</td>
        <td>1</td>
      </tr>


    </tbody>
  </table>
</div>
    </div>


  <div class="container">
      <div class="jumbotron" style="background-color:#3b5998">
<h2 style="color:white">Description:-</h2>

<h4 style="color:white">
LDR (LIGHT DEPENDENT RESISTOR) shows maximum resistance when no light falls on it.<br>
LDR resistance decreases when light fall on it. Its resistances have inverse relationship with intensity of light.<br>

	When there is no light on LDR , no current flows in base of transistor yhus transistor will be in OFF STATE .<br>
When light fall on LDR its resistance decreases and current flows into base of transistor which makes transistor ON. <br>
The buzzer will start because in ON state the collector and emitter behave as connected wire.




      </h4>

        </div>

                    </div>
</div>
{% block form_9 %}
{% endblock %}
{% endblock bodys %}