{% extends 'base1.html' %}
{% block bodys %}
{#<head>#}
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
{#  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>#}
{#  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
{##}
{#    <title>Electronic dice for game</title>#}
{##}
{#</head>#}

<div style="background-color: #CCCCCC">
    <div class="container">

                <div class="row">
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Electronic dice for game|<small> 100% Tested</small></h1><br>

                </div>
                    <br>
{% block body1 %}
{% endblock %}


            </div>
                    <br>

                             <div class=" col-lg-offset-2 col-lg-8">
                        <img class="img-responsive" width="100%" src="/static/images/touch.png" alt="">
                         </div>




    <br>
       <br>
    <div class="row">
    <div class="container col-lg-offset-2 col-lg-8 align:center">
  <h2>Componenet Required:-</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Sr No.</th>
        <th>Componenet</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1.</td>
        <td>IC CD4017</td>
        <td>1</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>LED</td>
        <td>6</td>
      </tr>
        <tr>
        <td>3.</td>
        <td>Touch Plate </td>
        <td>1</td>
      </tr>

        <tr>
        <td>4.</td>
        <td>Supply(5V)</td>
        <td>1</td>
      </tr>

    </tbody>
  </table>
</div>
    </div>


  <div class="container">
      <div class="jumbotron" style="background-color:#3b5998">
<h2 style="color:white">Description:-</h2>

<h4 style="color:white">

When we touch the plate attached to pin number  14 of CD4017, it receive the  pulse  which is like fast triggering.<br>
      LED attached to the output pin of CD4017 start glowing rapidly in sequence.<br>
When we remove the finger from touch plate, it is totally unpredictable which led will remain ON.<br>
This unpredictability makes this project useful in generating random no. which can be used in games.<br>
      </h4>

        </div>

                    </div>
</div>
{% block piyush %}
{% endblock %}
{% endblock bodys %}