{% extends 'base1.html' %}
{% block bodys %}
{#<head>#}
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}

    <title>+5 volt  &amp; -5volt Circuit
(using Regulator IC)
</title>

</head>

<div style="background-color: #CCCCCC">
    <div class="container">

                <div class="row">
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h2>+5 volt  &amp; -5 volt Circuit
(using Regulator IC)
|<small> 100% Tested</small></h2><br>

                </div>
                    <br>
{% block body_8 %}
{% endblock %}


            </div>
                    <br>

                             <div class=" col-lg-offset-2 col-lg-8">
                        <img class="img-responsive" width="100%" src="/static/images/+5%20volt_&+-5_volt.png" alt="">
                         </div>




    <br>
       <br>
    <div class="row">
    <div class="container col-lg-offset-2 col-lg-8 align:center">
  <h2>Componenet Required:-</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Sr No.</th>
        <th>Componenet</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1.</td>
        <td>Transformer (12-0-12)</td>
        <td>1</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>Diode(IN4007)</td>
        <td>6</td>
      </tr>
        <tr>
        <td>3.</td>
        <td>Electrolytic Capacitor(2200MF,25V)</td>
        <td>2</td>
      </tr>


        <tr>
        <td>4.</td>
        <td>7805 regulator IC</td>
        <td>1</td>
      </tr>
 <tr>
        <td>5.</td>
        <td>7905 IC</td>
        <td>1</td>
      </tr>
 <tr>
        <td>6.</td>
        <td>Electrolytic capacitor(22MF)</td>
        <td>2</td>
      </tr>

    </tbody>
  </table>
</div>
    </div>


  <div class="container">
      <div class="jumbotron" style="background-color:#3b5998">
<h2 style="color:white">Description:-</h2>

<h4 style="color:white">
Op-amp need negative voltage and we often wonder how we can get it.<br>
 This project will help you in making -5volt and +5 volt in one circuit.<br>
Two types of voltage regulator IC is used here:- <br>
(1) 7805 positive voltage regulator<br>
(2) 7905 negative voltage regulator<br>
The diode used here is 1n4007 .<br>
 AC on passing through the diode changes in pulsating DC.<br>
The remaining pulses is then filtered by capacitor, output of capacitor then goes to regulator.




      </h4>

        </div>

                    </div>
</div>
{% block form_8 %}
{% endblock %}
{% endblock bodys %}